<a href="https://colab.research.google.com/github/YeoWoMe/OUTTA-Bootcamp-2024/blob/main/6%EC%B0%A8%EA%B3%BC%EC%A0%9C_%EC%A0%95%EC%97%B0%EC%9A%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B2%A0%EC%9D%B4%EC%8A%A4_%EA%B0%9C%EB%A1%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Google Colab에서 PostgreSQL 실습하기**

## Google Colab에 PostgreSQL 설치하고 데이터베이스 생성하기

In [ ]:
# 1. PostgreSQL 설치
!apt-get -y update
!apt-get -y install postgresql postgresql-contrib

# 2. PostgreSQL 서비스 시작
!service postgresql start

# 3. postgres 유저의 비밀번호 설정
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'password';"

# 4. PostgreSQL 데이터베이스 생성
!sudo -u postgres createdb mydb

# Python에서 PostgreSQL에 접속하기 위한 psycopg2 라이브러리 설치
!pip install psycopg2-binary

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Ign:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Hit:7 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,127 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,998 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,545 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,184 kB]
Get:17 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [48.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,410 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,263 kB]
Fetched 17.9 MB in 7s (2,516 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 45 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.12-0ubuntu0.22.04.1 [1,223 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.12-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 2s (7,877 kB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 123576 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.12-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.12-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.12-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 12.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [ ]:
# 두번째 데이터베이스 생성

!sudo -u postgres createdb mydb2

## 테이블 생성 및 삭제

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
#호스트, 유저, password는 설정한대로 설
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
# 커넥션을 통해 커서 설정 -> sql 전송 가능[상호작용 가]
cur = conn.cursor()

# """" """": 큰 따옴표 세개로 묶어 텍스트 처리
# students 테이블 생성
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER
);
""")
conn.commit()
# commit: 저장해주는 역할

# students 테이블에 데이터 입력: INSERT
cur.execute("""
INSERT INTO students (name, age) VALUES
('김아우타', 22),
('박아우타', 23),
('최아우타', 21);
""")
conn.commit()

# 데이터 조회: SELECT
cur.execute("SELECT * FROM students;")

# 조회 결과 가져오기: FETCHALL
rows = cur.fetchall()

# 조회 결과 출력
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

(1, '김아우타', 22)
(2, '박아우타', 23)
(3, '최아우타', 21)

In [ ]:
# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 삭제
cur.execute("DROP TABLE IF EXISTS students;")
conn.commit()  # 변경 사항을 데이터베이스에 반영

# 테이블이 삭제되었는지 확인
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.errors.UndefinedTable as e:
    print("테이블이 존재하지 않습니다:", e)

# 커서와 연결 종료
cur.close()
conn.close()

테이블이 존재하지 않습니다: relation "students" does not exist
LINE 1: SELECT * FROM students;
                      ^

## 데이터 CRUD

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 생성
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER,
    major VARCHAR(100)
);
""")
conn.commit()

# 데이터 삽입 (CREATE)
cur.execute("""
INSERT INTO students (name, age, major) VALUES
('김아우타', 22, '컴퓨터 과학'),
('박아우타', 23, '수학'),
('최아우타', 21, '물리학');
""")
conn.commit()

# 데이터 조회 (READ)
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()

print("students 테이블 데이터:")
for row in rows:
    print(row)

# 데이터 업데이트 (UPDATE)
cur.execute("""
UPDATE students
SET major = '데이터 사이언스'
WHERE name = '김아우타';
""")
conn.commit()

# 업데이트 결과 조회 (READ)
cur.execute("SELECT * FROM students WHERE name = '김아우타';")
row = cur.fetchone()
print("업데이트 결과:", row)
# 업데이트 되면 가장 최근의 행으로 옮겨짐[말 그대로 업데이트!]

# 데이터 삭제 예제 (DELETE)
cur.execute("DELETE FROM students WHERE name = '최아우타';")
conn.commit()

# 삭제 결과 조회 (READ)
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()

print("삭제 결과:")
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

students 테이블 데이터:
(1, '김아우타', 22, '컴퓨터 과학')
(2, '박아우타', 23, '수학')
(3, '최아우타', 21, '물리학')
업데이트 결과: (1, '김아우타', 22, '데이터 사이언스')
삭제 결과:
(2, '박아우타', 23, '수학')
(1, '김아우타', 22, '데이터 사이언스')

In [ ]:
# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 삭제
cur.execute("DROP TABLE IF EXISTS students;")
conn.commit()  # 변경 사항을 데이터베이스에 반영

# 테이블이 삭제되었는지 확인
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.errors.UndefinedTable as e:
    print("테이블이 존재하지 않습니다:", e)

# 커서와 연결 종료
cur.close()
conn.close()

테이블이 존재하지 않습니다: relation "students" does not exist
LINE 1: SELECT * FROM students;
                      ^

## JOIN 구문 연습

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# 테이블 생성 (students, courses, enrollments)
cur.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    age INTEGER,
    major VARCHAR(100)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(100),
    instructor VARCHAR(100)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES students(student_id),
    course_id INTEGER REFERENCES courses(course_id),
    grade VARCHAR(2)
);
""")
conn.commit()

# 계속적으로 실행된 채로 남아있고 commit하면 적용되는 것
# References: 외래키


# 데이터 삽입 (CREATE)
cur.execute("""
INSERT INTO students (name, age, major) VALUES
('김아우타', 22, '컴퓨터 과학'),
('박아우타', 23, '수학'),
('최아우타', 21, '물리학'),
('이아우타', 24, '화학');
""")

cur.execute("""
INSERT INTO courses (course_name, instructor) VALUES
('데이터베이스', '이교수'),
('알고리즘', '박교수'),
('통계학', '최교수'),
('선형대수학', '서교수');
""")

cur.execute("""
INSERT INTO enrollments (student_id, course_id, grade) VALUES
(1, 1, 'A'),
(1, 2, 'B'),
(2, 1, 'C'),
(2, 3, 'B'),
(3, 2, 'A');
""")
conn.commit()

# JOIN 연습: 학생의 수강 과목과 성적 조회 (INNER JOIN)
cur.execute("""
SELECT students.name, courses.course_name, enrollments.grade
FROM enrollments
JOIN students ON enrollments.student_id = students.student_id
JOIN courses ON enrollments.course_id = courses.course_id;
""")
rows = cur.fetchall()

# strudent id로 조인

print("학생의 수강 과목과 성적 (JOIN):")
for row in rows:
    print(row)

# LEFT JOIN 예제: 모든 학생과 그들의 수강 과목 조회 (수강하지 않은 학생도 포함)
# 학생 테이블을 기준으로 left join
cur.execute("""
SELECT students.name, courses.course_name, enrollments.grade
FROM students
LEFT JOIN enrollments ON students.student_id = enrollments.student_id
LEFT JOIN courses ON enrollments.course_id = courses.course_id;
""")
rows = cur.fetchall()

print("\n모든 학생과 그들의 수강 과목 (수강하지 않은 학생도 포함, LEFT JOIN):")
for row in rows:
    print(row)

# 커서와 연결 종료
cur.close()
conn.close()

학생의 수강 과목과 성적 (JOIN):
('김아우타', '데이터베이스', 'A')
('김아우타', '알고리즘', 'B')
('박아우타', '데이터베이스', 'C')
('박아우타', '통계학', 'B')
('최아우타', '알고리즘', 'A')

모든 학생과 그들의 수강 과목 (수강하지 않은 학생도 포함, LEFT JOIN):
('김아우타', '데이터베이스', 'A')
('김아우타', '알고리즘', 'B')
('박아우타', '데이터베이스', 'C')
('박아우타', '통계학', 'B')
('최아우타', '알고리즘', 'A')
('이아우타', None, None)

## 엑셀 파일에서 데이터 입력하기

![image.png]()

https://www.academyinfo.go.kr/main/main2130/doInit.do

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_excel("/content/drive/Othercomputers/내 노트북/DNA/대학주요정보.xlsx")

# PostgreSQL 데이터베이스에 연결
engine = create_engine('postgresql+psycopg2://postgres:password@localhost/mydb')

# DataFrame을 PostgreSQL에 저장
df.to_sql('university', engine, index=False, if_exists='replace')

443

## SQL 구문으로 데이터 분석하기

In [ ]:
from tabulate import tabulate

# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

# 쿼리 결과를 DataFrame으로 변환하는 함수
def query_to_dataframe(query):
    cur.execute(query)
    rows = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]
    return pd.DataFrame(rows, columns=colnames)

# 1) 취업률이 제일 높은 학교
result1 = query_to_dataframe("SELECT university_name FROM university ORDER BY employment_rate_2023 DESC LIMIT 1;")

# 2) 전임교원 1인당 학생 수가 제일 높은 학교
result2 = query_to_dataframe("SELECT university_name FROM university ORDER BY students_per_faculty_2023 DESC LIMIT 1;")

# 3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬
result3 = query_to_dataframe("SELECT university_name FROM university WHERE annual_tuition_2024 < 5000 ORDER BY education_cost_per_student_2023 DESC;")

# 4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬
result4 = query_to_dataframe("SELECT region_name, AVG(freshman_competition_rate_2023) FROM university GROUP BY region_name ORDER BY AVG(freshman_competition_rate_2023) DESC;")

# 5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬
result5 = query_to_dataframe("SELECT region_name, AVG(freshman_enrollment_rate_2023) FROM university GROUP BY region_name ORDER BY AVG(freshman_enrollment_rate_2023) DESC;")

# 6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬
result6 = query_to_dataframe("SELECT establishment_type, AVG(annual_tuition_2024) FROM university GROUP BY establishment_type ORDER BY AVG(annual_tuition_2024) DESC;")

# 7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차
result7 = query_to_dataframe("""
WITH percentiles AS (
    SELECT education_cost_per_student_2023, NTILE(5) OVER (ORDER BY annual_tuition_2024) AS percentile
    FROM university
)
SELECT percentile, AVG(education_cost_per_student_2023), STDDEV(education_cost_per_student_2023)
FROM percentiles
GROUP BY percentile
ORDER BY percentile;
""")

# 8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차
result8 = query_to_dataframe("""
WITH percentiles AS (
    SELECT freshman_enrollment_rate_2023, NTILE(5) OVER (ORDER BY scholarship_per_student_2023) AS percentile
    FROM university
)
SELECT percentile, AVG(freshman_enrollment_rate_2023), STDDEV(freshman_enrollment_rate_2023)
FROM percentiles
GROUP BY percentile
ORDER BY percentile;
""")

# 결과 출력
print("1) 취업률이 제일 높은 학교:")
print(tabulate(result1, headers='keys', tablefmt='psql'))

print("\n2) 전임교원 1인당 학생 수가 제일 높은 학교:")
print(tabulate(result2, headers='keys', tablefmt='psql'))

print("\n3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬:")
print(tabulate(result3, headers='keys', tablefmt='psql'))

print("\n4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬:")
print(tabulate(result4, headers='keys', tablefmt='psql'))

print("\n5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬:")
print(tabulate(result5, headers='keys', tablefmt='psql'))

print("\n6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬:")
print(tabulate(result6, headers='keys', tablefmt='psql'))

print("\n7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차:")
print(tabulate(result7, headers='keys', tablefmt='psql'))

print("\n8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차:")
print(tabulate(result8, headers='keys', tablefmt='psql'))

# 연결 종료
cur.close()
conn.close()

1) 취업률이 제일 높은 학교:
+----+---------------------------------+
|    | university_name                 |
|----+---------------------------------|
|  0 | 한국폴리텍 II 대학 남인천캠퍼스 |
+----+---------------------------------+

2) 전임교원 1인당 학생 수가 제일 높은 학교:
+----+--------------------+
|    | university_name    |
|----+--------------------|
|  0 | 한국방송통신대학교 |
+----+--------------------+

3) 연평균 등록금이 5000천원 미만인 학교 중 학생 1인당 교육비를 내림차순으로 정렬:
+-----+----------------------------------------+
|     | university_name                        |
|-----+----------------------------------------|
|   0 | 한국폴리텍 VII 대학 동부산캠퍼스       |
|   1 | 한국폴리텍 VII 대학 진주캠퍼스         |
|   2 | 한국폴리텍 V 대학 순천캠퍼스           |
|   3 | 한국폴리텍 II 대학 화성캠퍼스          |
|   4 | 광주과학기술원                         |
|   5 | 충북도립대학교                         |
|   6 | 한국기술교육대학교                     |
|   7 | 한국폴리텍 II 대학 남인천캠퍼스        |
|   8 | 한국전통문화대학교                     |
|   9 | 한국폴리텍 I 대학 제주캠퍼스           |
|  10 | 한국폴리텍 III 대학 춘천캠퍼스         |
|  11 | 한국폴리텍 VI 대학 영주캠퍼스          |
|  12 | 한국복지대학교                         |
|  13 | 농협대학교                             |
|  14 | 강원도립대학교                         |
|  15 | 한국예술종합학교                       |
|  16 | ICT폴리텍대학                          |
|  17 | 영산선학대학교                         |
|  18 | 경남도립거창대학                       |
|  19 | 중앙승가대학교                         |
|  20 | 광주가톨릭대학교                       |
|  21 | 한국폴리텍 VI 대학 대구캠퍼스          |
|  22 | 전남대학교                             |
|  23 | 경북대학교                             |
|  24 | 충북대학교                             |
|  25 | 경북도립대학교                         |
|  26 | 부산대학교                             |
|  27 | 한국농수산대학교                       |
|  28 | 국립목포해양대학교                     |
|  29 | 한국폴리텍 V 대학 익산캠퍼스           |
|  30 | 충남대학교                             |
|  31 | 국립목포대학교                         |
|  32 | 전북대학교                             |
|  33 | 국립한국해양대학교                     |
|  34 | 제주대학교                             |
|  35 | 국립창원대학교                         |
|  36 | 경상국립대학교                         |
|  37 | 국립안동대학교                         |
|  38 | 강원대학교                             |
|  39 | 한국폴리텍 V 대학 전북캠퍼스           |
|  40 | 인천대학교                             |
|  41 | 국립한국교통대학교                     |
|  42 | 국립순천대학교                         |
|  43 | 국립금오공과대학교                     |
|  44 | 서울시립대학교                         |
|  45 | 국립군산대학교                         |
|  46 | 경남도립남해대학                       |
|  47 | 충남도립대학교                         |
|  48 | 한국폴리텍 IV 대학 대전캠퍼스          |
|  49 | 한국폴리텍 III 대학 강릉캠퍼스         |
|  50 | 국립강릉원주대학교                     |
|  51 | 국립부경대학교                         |
|  52 | 한국폴리텍 III 대학 원주캠퍼스         |
|  53 | 한경국립대학교                         |
|  54 | 국립한밭대학교                         |
|  55 | 한국체육대학교                         |
|  56 | 국립공주대학교                         |
|  57 | 광주교육대학교                         |
|  58 | 진주교육대학교                         |
|  59 | 청주교육대학교                         |
|  60 | 전남도립대학교                         |
|  61 | 한국교원대학교                         |
|  62 | 한국폴리텍 VI 대학 영남융합기술캠퍼스  |
|  63 | 전주교육대학교                         |
|  64 | 춘천교육대학교                         |
|  65 | 한국폴리텍 I 대학 성남캠퍼스           |
|  66 | 세경대학교                             |
|  67 | 공주교육대학교                         |
|  68 | 경인교육대학교                         |
|  69 | 대구교육대학교                         |
|  70 | 한국폴리텍 특성화대학 바이오캠퍼스     |
|  71 | 서울교육대학교                         |
|  72 | 부산교육대학교                         |
|  73 | 한국폴리텍 VII 대학 창원캠퍼스         |
|  74 | 한국폴리텍 V 대학 광주캠퍼스           |
|  75 | 한국폴리텍 V 대학 전남캠퍼스           |
|  76 | 강원관광대학교                         |
|  77 | 동아보건대학교                         |
|  78 | 한국폴리텍 I 대학 서울정수캠퍼스       |
|  79 | 한국폴리텍 IV 대학 충남캠퍼스          |
|  80 | 나주대학교                             |
|  81 | 한국폴리텍 특성화대학 로봇캠퍼스       |
|  82 | 한국폴리텍 II 대학 인천캠퍼스          |
|  83 | 한국폴리텍 IV 대학 아산캠퍼스          |
|  84 | 한국폴리텍 I 대학 서울강서캠퍼스       |
|  85 | 한국폴리텍 특성화대학 반도체융합캠퍼스 |
|  86 | 정석대학                               |
|  87 | 디지털서울문화예술대학교               |
|  88 | 한국폴리텍 VII 대학 부산캠퍼스         |
|  89 | 한국폴리텍 VI 대학 구미캠퍼스          |
|  90 | 한국열린사이버대학교                   |
|  91 | 화신사이버대학교                       |
|  92 | 부산디지털대학교                       |
|  93 | 한국폴리텍 특성화대학 항공캠퍼스       |
|  94 | 한국폴리텍 VII 대학 울산캠퍼스         |
|  95 | 글로벌사이버대학교                     |
|  96 | 건양사이버대학교                       |
|  97 | 원광디지털대학교                       |
|  98 | 국제사이버대학교                       |
|  99 | 영진사이버대학교                       |
| 100 | 경희사이버대학교                       |
| 101 | 숭실사이버대학교                       |
| 102 | 대구사이버대학교                       |
| 103 | 세종사이버대학교                       |
| 104 | 한국폴리텍 IV 대학 청주캠퍼스          |
| 105 | 서울사이버대학교                       |
| 106 | 한국복지사이버대학교                   |
| 107 | 한양사이버대학교                       |
| 108 | 사이버한국외국어대학교                 |
| 109 | 서울디지털대학교                       |
| 110 | 고려사이버대학교                       |
| 111 | 한국방송통신대학교                     |
| 112 | 경운대학교(산업대)                     |
| 113 | 경동대학교                             |
| 114 | 경남과학기술대학교                     |
| 115 | 강원대학교                             |
| 116 | 서남대학교                             |
| 117 | 서남대학교                             |
| 118 | 가야대학교(고령)                       |
| 119 | 상지영서대학교                         |
| 120 | 동부산대학교                           |
| 121 | 한려대학교                             |
| 122 | 한밭대학교(산업대)                     |
| 123 | 한북대학교                             |
| 124 | 한중대학교                             |
| 125 | 동우대학                               |
| 126 | 대구외국어대학교                       |
| 127 | 창신대학                               |
| 128 | 탐라대학교                             |
| 129 | 태재대학교                             |
| 130 | 진주산업대학교(산업대)                 |
| 131 | 국립강릉원주대학교                     |
| 132 | 제주산업정보대학                       |
| 133 | 구세군사관학교                         |
| 134 | 한국산업기술대학교(산업대)             |
| 135 | 남서울대학교(산업대)                   |
| 136 | 전남대학교                             |
| 137 | 적십자간호대학                         |
| 138 | 인천전문대학                           |
| 139 | 대구미래대학교                         |
| 140 | 인제대학교                             |
| 141 | 우송대학교(산업대)                     |
| 142 | 경인교육대학교                         |
| 143 | 신흥대학교                             |
| 144 | 성심외국어대학                         |
| 145 | 서해대학                               |
+-----+----------------------------------------+

4) 지역 별로 신입생 경쟁률의 평균을 구해서 내림차순으로 정렬:
+----+---------------+---------+
|    | region_name   |     avg |
|----+---------------+---------|
|  0 | 서울          | 9.47681 |
|  1 | 울산          | 8.2     |
|  2 | 경기          | 7.01558 |
|  3 | 대구          | 6.22143 |
|  4 | 세종          | 5.675   |
|  5 | 광주          | 5.46667 |
|  6 | 인천          | 5.30833 |
|  7 | 충북          | 5.04737 |
|  8 | 충남          | 4.86552 |
|  9 | 대전          | 4.83    |
| 10 | 부산          | 4.81724 |
| 11 | 전북          | 3.86957 |
| 12 | 강원          | 3.68519 |
| 13 | 경남          | 3.568   |
| 14 | 경북          | 3.37857 |
| 15 | 전남          | 3.28696 |
| 16 | 제주          | 1.7     |
+----+---------------+---------+

5) 지역 별로 신입생 충원율의 평균을 구해서 내림차순으로 정렬:
+----+---------------+---------+
|    | region_name   |     avg |
|----+---------------+---------|
|  0 | 울산          | 95.8    |
|  1 | 광주          | 95.4056 |
|  2 | 전북          | 94.5652 |
|  3 | 대구          | 93.9643 |
|  4 | 서울          | 90.713  |
|  5 | 충북          | 87.3158 |
|  6 | 충남          | 85.1862 |
|  7 | 인천          | 83.5083 |
|  8 | 경북          | 81.7905 |
|  9 | 경기          | 79.7818 |
| 10 | 대전          | 78.735  |
| 11 | 세종          | 77.775  |
| 12 | 부산          | 74.5483 |
| 13 | 강원          | 73.9556 |
| 14 | 전남          | 72.9348 |
| 15 | 경남          | 71.844  |
| 16 | 제주          | 52.1143 |
+----+---------------+---------+

6) 설립유형 별로 평균 연평균 등록금을 구해서 내림차순으로 정렬:
+----+----------------------+---------+
|    | establishment_type   |     avg |
|----+----------------------+---------|
|  0 | 특별법법인           | 6365.98 |
|  1 | 사립                 | 5711.54 |
|  2 | 국립                 | 3555.99 |
|  3 | 국립대법인           | 3555.37 |
|  4 | 특별법국립           | 2729.63 |
|  5 | 공립                 | 2386.26 |
+----+----------------------+---------+

7) 연평균 등록금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 학생 1인당 교육비의 평균과 표준편차:
+----+--------------+---------+----------+
|    |   percentile |     avg |   stddev |
|----+--------------+---------+----------|
|  0 |            1 | 21289.7 | 59024.7  |
|  1 |            2 | 16978.9 | 15233.5  |
|  2 |            3 | 13565.7 |  9267.25 |
|  3 |            4 | 13248.4 |  9984.89 |
|  4 |            5 | 19622.3 | 48348.4  |
+----+--------------+---------+----------+

8) 학생 1인당 연간 장학금이 상위 20%, 40%, 60%, 80%, 100%에 들어가는 학교들의 신입생 충원율의 평균과 표준편차:
+----+--------------+---------+----------+
|    |   percentile |     avg |   stddev |
|----+--------------+---------+----------|
|  0 |            1 | 50.3506 |  53.0381 |
|  1 |            2 | 90.2775 |  25.5951 |
|  2 |            3 | 91.7573 |  14.9547 |
|  3 |            4 | 91.7375 |  12.3066 |
|  4 |            5 | 88.45   |  18.4824 |
+----+--------------+---------+----------+

# **과제**

## 컬럼 정보 조회

In [ ]:
import psycopg2

# 데이터베이스 연결 설정
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)

# 커서 생성
cur = conn.cursor()

# university 테이블의 컬럼 정보 조회
cur.execute("""
SELECT
    column_name,
    data_type,
    is_nullable,
    character_maximum_length
FROM
    information_schema.columns
WHERE
    table_name = 'university';
""")
columns = cur.fetchall()

print("university 테이블의 컬럼 정보:")
for column in columns:
    print(f"컬럼명: {column[0]}, 데이터 타입: {column[1]}, NULL 허용: {column[2]}, 최대 길이: {column[3]}")

# 커서와 연결 종료
cur.close()
conn.close()

university 테이블의 컬럼 정보:
컬럼명: books_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_teaching_ratio_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: scholarship_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: annual_tuition_2024, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: education_cost_per_student_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: dorm_capacity_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: No, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_admission_quota_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_graduates_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: full_time_faculty_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: undergrad_students_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: freshman_competition_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: freshman_enrollment_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: employment_rate_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: international_students_2023, 데이터 타입: bigint, NULL 허용: YES, 최대 길이: None
컬럼명: students_per_faculty_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_ratio_based_on_quota_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: faculty_ratio_based_on_enrollment_2023, 데이터 타입: double precision, NULL 허용: YES, 최대 길이: None
컬럼명: university_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: campus_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: school_type, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: school_category, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: establishment_type, 데이터 타입: text, NULL 허용: YES, 최대 길이: None
컬럼명: region_name, 데이터 타입: text, NULL 허용: YES, 최대 길이: None

## 한글 컬럼명과 영어 컬럼명

학교명: university_name

본분교명: campus_name

학교종류: school_type

학교유형: school_category

설립유형: establishment_type

지역명: region_name

입학정원(학부)(2023,명): undergrad_admission_quota_2023

졸업생수(학부)(2023,명): undergrad_graduates_2023

전임교원수(학부+대학원)(2023,명): full_time_faculty_2023

재학생(학부)(2023,명): undergrad_students_2023

신입생 경쟁률(학부)(2023,:1): freshman_competition_rate_2023

신입생 충원율(학부)(2023,%) : freshman_enrollment_rate_2023

취업률(학부)(2023,%) : employment_rate_2023

외국인 학생 수(학부)(2023,명) : international_students_2023

전임교원 1인당 학생 수(학생정원기준)(학부+대학원)(2023,명) : students_per_faculty_2023

전임교원 확보율(학생정원기준)(학부+대학원)(2023,%) : faculty_ratio_based_on_quota_2023

전임 교원 확보율(재학생 기준)(학부+대학원)(2023,%) : faculty_ratio_based_on_enrollment_2023

전임교원 강의 담당 비율(학부)(2023,%) : faculty_teaching_ratio_2023

학생 1인당 연간 장학금(학부)(2023,원) : scholarship_per_student_2023

연평균 등록금(학부)(2024,천원) : annual_tuition_2024

학생 1인당 교육비(학부+대학원)(2023,천원) : education_cost_per_student_2023

기숙사 수용율(학부+대학원)(2023,%) : dorm_capacity_rate_2023

학생 1인당 도서 자료 수(학부+대학원)(2023,권) : books_per_student_2023

## 과제

Chat-GPT를 활용하여 자연어 질의를 SQL문으로 변환하여 주어진 과제를 수행하시오.

Chat-GPT에게 질문을 할 때, 위의 컬럼 정보와 한글 컬럼명/영어 컬럼명이 대응된 정보를 활용하면 조금 더 적절한 답변을 얻어낼 수 있을 수 있다.

In [ ]:
def sql_print(sql):
  query_df = query_to_dataframe(sql)
  print(tabulate(query_df, headers='keys', tablefmt='psql'))

### 예제

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT
    region_name,
    AVG(full_time_faculty_2023) AS avg_full_time_faculty
FROM
    university
WHERE
    full_time_faculty_2023 >= 100
GROUP BY
    region_name
HAVING
    AVG(full_time_faculty_2023) >= 300
ORDER BY
    AVG(full_time_faculty_2023) DESC;
"""

print("지역별로 전임 교원 수가 100명 이상인 대학의 전임 교원 수의 평균을 구하고, 그 평균이 300 이상인 데이터를 내림차순으로 출력:\n")

sql_print(sql)

지역별로 전임 교원 수가 100명 이상인 대학의 전임 교원 수의 평균을 구하고, 그 평균이 300 이상인 데이터를 내림차순으로 출력:

+----+---------------+-------------------------+
|    | region_name   |   avg_full_time_faculty |
|----+---------------+-------------------------|
|  0 | 경남          |                 574     |
|  1 | 서울          |                 563.05  |
|  2 | 울산          |                 520.333 |
|  3 | 전북          |                 434.143 |
|  4 | 부산          |                 399.733 |
|  5 | 제주          |                 392.5   |
|  6 | 대구          |                 390.375 |
|  7 | 대전          |                 370.667 |
|  8 | 강원          |                 365.556 |
|  9 | 인천          |                 358.8   |
| 10 | 충남          |                 340.733 |
| 11 | 광주          |                 317.8   |
+----+---------------+-------------------------+

### 1. WHERE 절을 사용한 구문

주어진 university 테이블에 WHERE 절을 사용한 구문 3개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 30점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT u1.region_name, u1.university_name, u1.dorm_capacity_rate_2023
FROM university u1
JOIN (
    SELECT region_name, MAX(dorm_capacity_rate_2023) AS max_dorm_capacity_rate
    FROM university
    WHERE region_name NOT IN ('서울', '경기', '인천')
    GROUP BY region_name
) u2 ON u1.region_name = u2.region_name AND u1.dorm_capacity_rate_2023 = u2.max_dorm_capacity_rate
ORDER BY u1.region_name;
"""

print("비수도권인 지역에 위치한 학교 중에서 지역별로 기숙사 수용률이 가장 높은 학교 출력, 여기서 비수도권은 서울, 경기, 인천을 제외한 지역:\n")

sql_print(sql)

비수도권인 지역에 위치한 학교 중에서 기숙사 수용률이 가장 높은 학교 출력, 여기서 비수도권은 서울, 경기, 인천을 제외한 지역:

+----+---------------+---------------------------------------+---------------------------+
|    | region_name   | university_name                       |   dorm_capacity_rate_2023 |
|----+---------------+---------------------------------------+---------------------------|
|  0 | 강원          | 한국폴리텍 III 대학 원주캠퍼스        |                     207.8 |
|  1 | 경남          | 한국폴리텍 특성화대학 항공캠퍼스      |                     185.9 |
|  2 | 경북          | 한국폴리텍 VI 대학 영주캠퍼스         |                     406.3 |
|  3 | 광주          | 광주과학기술원                        |                      99.8 |
|  4 | 대구          | 한국폴리텍 VI 대학 영남융합기술캠퍼스 |                     223.9 |
|  5 | 대전          | 한국폴리텍 IV 대학 대전캠퍼스         |                      69.2 |
|  6 | 부산          | 한국폴리텍 VII 대학 부산캠퍼스        |                      58   |
|  7 | 세종          | 대전가톨릭대학교                      |                     910.5 |
|  8 | 울산          | 울산과학기술원                        |                      79.1 |
|  9 | 전남          | 영산선학대학교                        |                     347.1 |
| 10 | 전북          | 한국폴리텍 V 대학 전북캠퍼스          |                     123.6 |
| 11 | 제주          | 한국폴리텍 I 대학 제주캠퍼스          |                     260.5 |
| 12 | 충남          | 금강대학교                            |                     154.9 |
| 13 | 충북          | 순복음총회신학교                      |                     139.1 |
+----+---------------+---------------------------------------+---------------------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT university_name, annual_tuition_2024
FROM university
WHERE establishment_type = '사립'
AND annual_tuition_2024 <= 2000;
"""

print("설립유형이 사립인 학교 중 연평균 등록금이 2백만원 이하인 학교 출력:\n")

sql_print(sql)

설립유형이 사립인 학교 중 연평균 등록금이 2백만원 이하인 학교 출력:

+----+----------------------------------+-----------------------+
|    | university_name                  |   annual_tuition_2024 |
|----+----------------------------------+-----------------------|
|  0 | 가야대학교(고령)                 |                     0 |
|  1 | 강원관광대학교                   |                     0 |
|  2 | 경동대학교                       |                     0 |
|  3 | 경운대학교(산업대)               |                     0 |
|  4 | 광주가톨릭대학교                 |                     0 |
|  5 | 구세군사관학교                   |                     0 |
|  6 | 남서울대학교(산업대)             |                     0 |
|  7 | 대구미래대학교                   |                     0 |
|  8 | 대구외국어대학교                 |                     0 |
|  9 | 동부산대학교                     |                     0 |
| 10 | 동우대학                         |                     0 |
| 11 | 상지영서대학교                   |                     0 |
| 12 | 서남대학교                       |                     0 |
| 13 | 서남대학교                       |                     0 |
| 14 | 서해대학                         |                     0 |
| 15 | 성심외국어대학                   |                     0 |
| 16 | 신흥대학교                       |                     0 |
| 17 | 영산선학대학교                   |                  2000 |
| 18 | 우송대학교(산업대)               |                     0 |
| 19 | 인제대학교                       |                     0 |
| 20 | 적십자간호대학                   |                     0 |
| 21 | 정석대학                         |                     0 |
| 22 | 제주산업정보대학                 |                     0 |
| 23 | 중앙승가대학교                   |                  1820 |
| 24 | 창신대학                         |                     0 |
| 25 | 탐라대학교                       |                     0 |
| 26 | 태재대학교                       |                     0 |
| 27 | 한국산업기술대학교(산업대)       |                     0 |
| 28 | 한국폴리텍 II 대학 화성캠퍼스    |                     0 |
| 29 | 한국폴리텍 V 대학 순천캠퍼스     |                     0 |
| 30 | 한국폴리텍 VII 대학 동부산캠퍼스 |                     0 |
| 31 | 한국폴리텍 VII 대학 진주캠퍼스   |                     0 |
| 32 | 한려대학교                       |                     0 |
| 33 | 한북대학교                       |                     0 |
| 34 | 한중대학교                       |                     0 |
+----+----------------------------------+-----------------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT university_name, school_type, freshman_enrollment_rate_2023
FROM university
WHERE school_type = '전문대학'
AND freshman_enrollment_rate_2023 >= 80;
"""

print("학교 유형이 전문대학인 학교 중에서 신입생 충원율이 80% 이상인 학교:\n")

sql_print(sql)

뭘 했는지 입력해주세요:

+-----+----------------------------------+---------------+---------------------------------+
|     | university_name                  | school_type   |   freshman_enrollment_rate_2023 |
|-----+----------------------------------+---------------+---------------------------------|
|   0 | ICT폴리텍대학                    | 전문대학      |                            96.9 |
|   1 | 가톨릭상지대학교                 | 전문대학      |                            93.2 |
|   2 | 강동대학교                       | 전문대학      |                            92.1 |
|   3 | 강릉영동대학교                   | 전문대학      |                            82.7 |
|   4 | 강원관광대학교                   | 전문대학      |                            95.9 |
|   5 | 강원도립대학교                   | 전문대학      |                            94.2 |
|   6 | 거제대학교                       | 전문대학      |                            96.2 |
|   7 | 경기과학기술대학교               | 전문대학      |                            93.5 |
|   8 | 경남도립거창대학                 | 전문대학      |                           100   |
|   9 | 경남도립남해대학                 | 전문대학      |                           100   |
|  10 | 경남정보대학교                   | 전문대학      |                            87.9 |
|  11 | 경민대학교                       | 전문대학      |                            99.9 |
|  12 | 경복대학교                       | 전문대학      |                            98.7 |
|  13 | 경북과학대학교                   | 전문대학      |                           100   |
|  14 | 경북도립대학교                   | 전문대학      |                            97.4 |
|  15 | 경북보건대학교                   | 전문대학      |                            96.5 |
|  16 | 경북전문대학교                   | 전문대학      |                            80.2 |
|  17 | 경인여자대학교                   | 전문대학      |                            86.9 |
|  18 | 계명문화대학교                   | 전문대학      |                            90.6 |
|  19 | 계원예술대학교                   | 전문대학      |                           100   |
|  20 | 광주보건대학교                   | 전문대학      |                            90.2 |
|  21 | 구미대학교                       | 전문대학      |                            96.7 |
|  22 | 군산간호대학교                   | 전문대학      |                           100   |
|  23 | 군장대학교                       | 전문대학      |                            84.7 |
|  24 | 기독간호대학교                   | 전문대학      |                           100   |
|  25 | 김해대학교                       | 전문대학      |                            85.4 |
|  26 | 농협대학교                       | 전문대학      |                           100   |
|  27 | 대경대학교                       | 전문대학      |                            94.6 |
|  28 | 대구공업대학교                   | 전문대학      |                            95.7 |
|  29 | 대구과학대학교                   | 전문대학      |                           100   |
|  30 | 대구보건대학교                   | 전문대학      |                            97.4 |
|  31 | 대동대학교                       | 전문대학      |                            84.2 |
|  32 | 대림대학교                       | 전문대학      |                            99.1 |
|  33 | 대원대학교                       | 전문대학      |                            82.9 |
|  34 | 대전과학기술대학교               | 전문대학      |                            82.6 |
|  35 | 대전보건대학교                   | 전문대학      |                            82.8 |
|  36 | 동강대학교                       | 전문대학      |                            85.2 |
|  37 | 동남보건대학교                   | 전문대학      |                           100   |
|  38 | 동서울대학교                     | 전문대학      |                           100   |
|  39 | 동아방송예술대학교               | 전문대학      |                           100   |
|  40 | 동양미래대학교                   | 전문대학      |                            99.4 |
|  41 | 동원과학기술대학교               | 전문대학      |                            85.8 |
|  42 | 동원대학교                       | 전문대학      |                            85.1 |
|  43 | 마산대학교                       | 전문대학      |                            84.2 |
|  44 | 명지전문대학                     | 전문대학      |                            98.9 |
|  45 | 목포과학대학교                   | 전문대학      |                            95.8 |
|  46 | 문경대학교                       | 전문대학      |                            81.3 |
|  47 | 배화여자대학교                   | 전문대학      |                           100   |
|  48 | 백석문화대학교                   | 전문대학      |                            89.7 |
|  49 | 백제예술대학교                   | 전문대학      |                            80.9 |
|  50 | 부산경상대학교                   | 전문대학      |                            86   |
|  51 | 부산과학기술대학교               | 전문대학      |                            90   |
|  52 | 부산보건대학교                   | 전문대학      |                            86.6 |
|  53 | 부산여자대학교                   | 전문대학      |                            94.8 |
|  54 | 부천대학교                       | 전문대학      |                           100   |
|  55 | 삼육보건대학교                   | 전문대학      |                           100   |
|  56 | 서라벌대학교                     | 전문대학      |                            99.6 |
|  57 | 서영대학교                       | 전문대학      |                            95.1 |
|  58 | 서울여자간호대학교               | 전문대학      |                           100   |
|  59 | 서울예술대학교                   | 전문대학      |                           100   |
|  60 | 서일대학교                       | 전문대학      |                           100   |
|  61 | 서정대학교                       | 전문대학      |                           100   |
|  62 | 선린대학교                       | 전문대학      |                            84.4 |
|  63 | 성운대학교                       | 전문대학      |                           100   |
|  64 | 세경대학교                       | 전문대학      |                            87   |
|  65 | 송곡대학교                       | 전문대학      |                            90.5 |
|  66 | 송호대학교                       | 전문대학      |                            81.8 |
|  67 | 수성대학교                       | 전문대학      |                           100   |
|  68 | 수원여자대학교                   | 전문대학      |                            89.4 |
|  69 | 순천제일대학교                   | 전문대학      |                            93.2 |
|  70 | 숭의여자대학교                   | 전문대학      |                           100   |
|  71 | 신구대학교                       | 전문대학      |                           100   |
|  72 | 신성대학교                       | 전문대학      |                            80.4 |
|  73 | 아주자동차대학교                 | 전문대학      |                            98.6 |
|  74 | 안동과학대학교                   | 전문대학      |                            93.4 |
|  75 | 안산대학교                       | 전문대학      |                            96.5 |
|  76 | 연성대학교                       | 전문대학      |                           100   |
|  77 | 연암공과대학교                   | 전문대학      |                           100   |
|  78 | 연암대학교                       | 전문대학      |                            99.8 |
|  79 | 영남이공대학교                   | 전문대학      |                           100   |
|  80 | 영진사이버대학교                 | 전문대학      |                            90.2 |
|  81 | 영진전문대학교                   | 전문대학      |                            99.8 |
|  82 | 오산대학교                       | 전문대학      |                            95.2 |
|  83 | 우송정보대학                     | 전문대학      |                            93   |
|  84 | 울산과학대학교                   | 전문대학      |                            95.1 |
|  85 | 원광보건대학교                   | 전문대학      |                            88.5 |
|  86 | 유한대학교                       | 전문대학      |                           100   |
|  87 | 인덕대학교                       | 전문대학      |                           100   |
|  88 | 인하공업전문대학                 | 전문대학      |                           100   |
|  89 | 재능대학교                       | 전문대학      |                            90   |
|  90 | 전남과학대학교                   | 전문대학      |                            90.6 |
|  91 | 전남도립대학교                   | 전문대학      |                            94.9 |
|  92 | 전북과학대학교                   | 전문대학      |                            98.5 |
|  93 | 전주기전대학                     | 전문대학      |                            80.2 |
|  94 | 전주비전대학교                   | 전문대학      |                            85.6 |
|  95 | 조선간호대학교                   | 전문대학      |                           100   |
|  96 | 조선이공대학교                   | 전문대학      |                            94.2 |
|  97 | 진주보건대학교                   | 전문대학      |                            91.2 |
|  98 | 청강문화산업대학교               | 전문대학      |                           100   |
|  99 | 청암대학교                       | 전문대학      |                            84.3 |
| 100 | 춘해보건대학교                   | 전문대학      |                            90.2 |
| 101 | 충남도립대학교                   | 전문대학      |                            97.8 |
| 102 | 충북도립대학교                   | 전문대학      |                            93.3 |
| 103 | 충청대학교                       | 전문대학      |                            83.8 |
| 104 | 포항대학교                       | 전문대학      |                            85   |
| 105 | 한국골프대학교                   | 전문대학      |                            93.1 |
| 106 | 한국농수산대학교                 | 전문대학      |                           100   |
| 107 | 한국복지사이버대학교             | 전문대학      |                           100   |
| 108 | 한국영상대학교                   | 전문대학      |                            91.6 |
| 109 | 한국폴리텍 I 대학 서울강서캠퍼스 | 전문대학      |                            84.7 |
| 110 | 한국폴리텍 I 대학 서울정수캠퍼스 | 전문대학      |                            89.7 |
| 111 | 한국폴리텍 I 대학 제주캠퍼스     | 전문대학      |                           100   |
| 112 | 한국폴리텍 II 대학 남인천캠퍼스  | 전문대학      |                            92   |
| 113 | 한국폴리텍 III 대학 강릉캠퍼스   | 전문대학      |                            80   |
| 114 | 한국폴리텍 IV 대학 대전캠퍼스    | 전문대학      |                            85.2 |
| 115 | 한국폴리텍 IV 대학 아산캠퍼스    | 전문대학      |                            83.5 |
| 116 | 한국폴리텍 IV 대학 청주캠퍼스    | 전문대학      |                            99.7 |
| 117 | 한국폴리텍 V 대학 광주캠퍼스     | 전문대학      |                            94.3 |
| 118 | 한국폴리텍 V 대학 전북캠퍼스     | 전문대학      |                           362   |
| 119 | 한국폴리텍 VI 대학 구미캠퍼스    | 전문대학      |                            97.9 |
| 120 | 한국폴리텍 VI 대학 영주캠퍼스    | 전문대학      |                           100   |
| 121 | 한국폴리텍 VII 대학 울산캠퍼스   | 전문대학      |                            94.2 |
| 122 | 한국폴리텍 VII 대학 창원캠퍼스   | 전문대학      |                           100   |
| 123 | 한림성심대학교                   | 전문대학      |                            87.5 |
| 124 | 한양여자대학교                   | 전문대학      |                           100.4 |
| 125 | 한영대학교                       | 전문대학      |                           100   |
| 126 | 혜전대학교                       | 전문대학      |                            83.8 |
| 127 | 호산대학교                       | 전문대학      |                           100   |
+-----+----------------------------------+---------------+---------------------------------+

### 2. ORDER BY 절을 사용한 구문

주어진 university 테이블에 ORDER BY 절을 사용한 구문 3개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 30점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT u1.region_name, u1.university_name, u1.international_students_2023
FROM university u1
JOIN (
    SELECT region_name, MAX(international_students_2023) AS max_international_students
    FROM university
    GROUP BY region_name
) u2 ON u1.region_name = u2.region_name AND u1.international_students_2023 = u2.max_international_students
ORDER BY u1.region_name;
"""

print("각 지역별로 외국인 학생 수가 가장 많은 학교와, 그 학교의 외국인 학생수를 출력:\n")

sql_print(sql)

각 지역별로 외국인 학생 수가 가장 많은 학교와, 외국인 학생수를 출력:

+----+---------------+-------------------+-------------------------------+
|    | region_name   | university_name   |   international_students_2023 |
|----+---------------+-------------------+-------------------------------|
|  0 | 강원          | 경동대학교        |                           678 |
|  1 | 경기          | 서정대학교        |                          3356 |
|  2 | 경남          | 인제대학교        |                           489 |
|  3 | 경북          | 대구대학교        |                          1415 |
|  4 | 광주          | 호남대학교        |                           921 |
|  5 | 대구          | 계명대학교        |                          1719 |
|  6 | 대전          | 우송대학교        |                          2194 |
|  7 | 부산          | 부산대학교        |                          1114 |
|  8 | 서울          | 경희대학교        |                          4302 |
|  9 | 세종          | 고려대학교(세종)  |                           474 |
| 10 | 울산          | 울산대학교        |                           297 |
| 11 | 인천          | 인하대학교        |                          1886 |
| 12 | 전남          | 초당대학교        |                           437 |
| 13 | 전북          | 전북대학교        |                          1011 |
| 14 | 제주          | 제주대학교        |                           338 |
| 15 | 충남          | 선문대학교        |                          1607 |
| 16 | 충북          | 충북대학교        |                           711 |
+----+---------------+-------------------+-------------------------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT university_name, annual_tuition_2024, books_per_student_2023,
       (books_per_student_2023 / annual_tuition_2024) AS books_per_tuition_ratio
FROM university
WHERE annual_tuition_2024 IS NOT NULL
  AND books_per_student_2023 IS NOT NULL
  AND annual_tuition_2024 != 0
ORDER BY books_per_tuition_ratio DESC
LIMIT 10;
"""

print("연평균 등록금 대비 학생 1인당 도서 자료 수가 많은 상위 10개 학교 출력:\n")

sql_print(sql)

연평균 등록금 대비 학생 1인당 도서 자료 수가 많은 상위 10개 학교 출력:

+----+------------------------------+-----------------------+--------------------------+---------------------------+
|    | university_name              |   annual_tuition_2024 |   books_per_student_2023 |   books_per_tuition_ratio |
|----+------------------------------+-----------------------+--------------------------+---------------------------|
|  0 | 영산선학대학교               |                2000   |                   1366.8 |                 0.6834    |
|  1 | 대전가톨릭대학교             |                5760   |                   2810.4 |                 0.487917  |
|  2 | 중앙승가대학교               |                1820   |                    572.9 |                 0.31478   |
|  3 | 수원가톨릭대학교             |                5097   |                    934.5 |                 0.183343  |
|  4 | 한국전통문화대학교           |                3382.4 |                    362   |                 0.107025  |
|  5 | 대전신학대학교               |                5956   |                    556.4 |                 0.0934184 |
|  6 | 금강대학교                   |                6598   |                    610.9 |                 0.0925887 |
|  7 | 한국폴리텍 I 대학 제주캠퍼스 |                2164   |                    190.5 |                 0.0880314 |
|  8 | 신경주대학교                 |                7344.4 |                    537.8 |                 0.0732259 |
|  9 | 전주교육대학교               |                3458   |                    239.1 |                 0.069144  |
+----+------------------------------+-----------------------+--------------------------+---------------------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT university_name, freshman_competition_rate_2023, employment_rate_2023,
       (employment_rate_2023 / freshman_competition_rate_2023) AS employment_to_competition_ratio
FROM university
WHERE freshman_competition_rate_2023 IS NOT NULL
  AND employment_rate_2023 IS NOT NULL
  AND freshman_competition_rate_2023 != 0
ORDER BY employment_to_competition_ratio DESC
LIMIT 5;
"""

print("신입생 경쟁률 대비 취업률이 높은 상위 5개 대학 출력:\n")

sql_print(sql)

뭘 했는지 입력해주세요:

+----+-------------------+----------------------------------+------------------------+-----------------------------------+
|    | university_name   |   freshman_competition_rate_2023 |   employment_rate_2023 |   employment_to_competition_ratio |
|----+-------------------+----------------------------------+------------------------+-----------------------------------|
|  0 | 제주국제대학교    |                              0.4 |                   70.6 |                          176.5    |
|  1 | 광양보건대학교    |                              0.9 |                   75.1 |                           83.4444 |
|  2 | 세경대학교        |                              0.9 |                   72.6 |                           80.6667 |
|  3 | 나주대학교        |                              1   |                   77.2 |                           77.2    |
|  4 | 순복음총회신학교  |                              0.9 |                   69.2 |                           76.8889 |
+----+-------------------+----------------------------------+------------------------+-----------------------------------+

### 3. GROUP BY 절을 사용한 구문

주어진 university 테이블에 GROUP BY 절을 사용한 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT establishment_type, university_name, MAX(annual_tuition_2024) AS max_tuition
FROM university AS u1
WHERE annual_tuition_2024 <= (
    SELECT PERCENTILE_CONT(0.8) WITHIN GROUP (ORDER BY annual_tuition_2024 DESC)
    FROM university AS u2
    WHERE u2.establishment_type = u1.establishment_type
)
GROUP BY establishment_type, university_name
ORDER BY establishment_type, max_tuition DESC;
"""

print("설립유형별 등록금이 상위 20% 이내인 학교 출력:\n")

sql_print(sql)

설립유형별 등록금이 상위 20% 이내인 학교 출력:

+----+----------------------+----------------------------------------+---------------+
|    | establishment_type   | university_name                        |   max_tuition |
|----+----------------------+----------------------------------------+---------------|
|  0 | 공립                 | 전남도립대학교                         |        1953.2 |
|  1 | 공립                 | 충북도립대학교                         |        1868   |
|  2 | 국립                 | 춘천교육대학교                         |        3313   |
|  3 | 국립                 | 한국교원대학교                         |        3177.9 |
|  4 | 국립                 | 부산교육대학교                         |        3144   |
|  5 | 국립                 | 서울교육대학교                         |        3088   |
|  6 | 국립                 | 한국복지대학교                         |        2730.4 |
|  7 | 국립                 | 한국방송통신대학교                     |         761   |
|  8 | 국립                 | 경인교육대학교                         |           0   |
|  9 | 국립                 | 진주산업대학교(산업대)                 |           0   |
| 10 | 국립                 | 한밭대학교(산업대)                     |           0   |
| 11 | 사립                 | 서울사이버대학교                       |        2711.1 |
| 12 | 사립                 | 대구사이버대학교                       |        2622.9 |
| 13 | 사립                 | 한국폴리텍 특성화대학 바이오캠퍼스     |        2595   |
| 14 | 사립                 | 건양사이버대학교                       |        2559.4 |
| 15 | 사립                 | 국제사이버대학교                       |        2537.5 |
| 16 | 사립                 | 한국폴리텍 III 대학 강릉캠퍼스         |        2531.5 |
| 17 | 사립                 | ICT폴리텍대학                          |        2500   |
| 18 | 사립                 | 한국폴리텍 I 대학 서울강서캠퍼스       |        2494   |
| 19 | 사립                 | 한국폴리텍 I 대학 서울정수캠퍼스       |        2494   |
| 20 | 사립                 | 한국폴리텍 II 대학 인천캠퍼스          |        2494   |
| 21 | 사립                 | 한국폴리텍 II 대학 남인천캠퍼스        |        2494   |
| 22 | 사립                 | 고려사이버대학교                       |        2467.3 |
| 23 | 사립                 | 글로벌사이버대학교                     |        2454.2 |
| 24 | 사립                 | 화신사이버대학교                       |        2435.9 |
| 25 | 사립                 | 한국폴리텍 특성화대학 항공캠퍼스       |        2433.6 |
| 26 | 사립                 | 한국폴리텍 IV 대학 아산캠퍼스          |        2432   |
| 27 | 사립                 | 한국폴리텍 IV 대학 청주캠퍼스          |        2432   |
| 28 | 사립                 | 한국폴리텍 V 대학 광주캠퍼스           |        2432   |
| 29 | 사립                 | 한국폴리텍 V 대학 익산캠퍼스           |        2432   |
| 30 | 사립                 | 한국폴리텍 I 대학 성남캠퍼스           |        2432   |
| 31 | 사립                 | 한국폴리텍 특성화대학 반도체융합캠퍼스 |        2432   |
| 32 | 사립                 | 한국폴리텍 VI 대학 구미캠퍼스          |        2432   |
| 33 | 사립                 | 한국폴리텍 VI 대학 대구캠퍼스          |        2432   |
| 34 | 사립                 | 한국폴리텍 VI 대학 영남융합기술캠퍼스  |        2432   |
| 35 | 사립                 | 한국폴리텍 VII 대학 부산캠퍼스         |        2432   |
| 36 | 사립                 | 한국폴리텍 VII 대학 울산캠퍼스         |        2432   |
| 37 | 사립                 | 한국폴리텍 III 대학 춘천캠퍼스         |        2432   |
| 38 | 사립                 | 한국폴리텍 IV 대학 대전캠퍼스          |        2432   |
| 39 | 사립                 | 한국폴리텍 VII 대학 창원캠퍼스         |        2432   |
| 40 | 사립                 | 부산디지털대학교                       |        2427.2 |
| 41 | 사립                 | 한국폴리텍 V 대학 전북캠퍼스           |        2321   |
| 42 | 사립                 | 영진사이버대학교                       |        2319   |
| 43 | 사립                 | 서울디지털대학교                       |        2268.4 |
| 44 | 사립                 | 한국열린사이버대학교                   |        2247.9 |
| 45 | 사립                 | 한국복지사이버대학교                   |        2193   |
| 46 | 사립                 | 한국폴리텍 III 대학 원주캠퍼스         |        2174   |
| 47 | 사립                 | 한국폴리텍 V 대학 전남캠퍼스           |        2164   |
| 48 | 사립                 | 한국폴리텍 특성화대학 로봇캠퍼스       |        2164   |
| 49 | 사립                 | 한국폴리텍 I 대학 제주캠퍼스           |        2164   |
| 50 | 사립                 | 한국폴리텍 IV 대학 충남캠퍼스          |        2164   |
| 51 | 사립                 | 한국폴리텍 VI 대학 영주캠퍼스          |        2164   |
| 52 | 사립                 | 영산선학대학교                         |        2000   |
| 53 | 사립                 | 중앙승가대학교                         |        1820   |
| 54 | 사립                 | 가야대학교(고령)                       |           0   |
| 55 | 사립                 | 적십자간호대학                         |           0   |
| 56 | 사립                 | 성심외국어대학                         |           0   |
| 57 | 사립                 | 상지영서대학교                         |           0   |
| 58 | 사립                 | 대구미래대학교                         |           0   |
| 59 | 사립                 | 한국폴리텍 II 대학 화성캠퍼스          |           0   |
| 60 | 사립                 | 구세군사관학교                         |           0   |
| 61 | 사립                 | 강원관광대학교                         |           0   |
| 62 | 사립                 | 동부산대학교                           |           0   |
| 63 | 사립                 | 한중대학교                             |           0   |
| 64 | 사립                 | 한북대학교                             |           0   |
| 65 | 사립                 | 한려대학교                             |           0   |
| 66 | 사립                 | 태재대학교                             |           0   |
| 67 | 사립                 | 탐라대학교                             |           0   |
| 68 | 사립                 | 한국폴리텍 V 대학 순천캠퍼스           |           0   |
| 69 | 사립                 | 인제대학교                             |           0   |
| 70 | 사립                 | 신흥대학교                             |           0   |
| 71 | 사립                 | 서남대학교                             |           0   |
| 72 | 사립                 | 제주산업정보대학                       |           0   |
| 73 | 사립                 | 창신대학                               |           0   |
| 74 | 사립                 | 정석대학                               |           0   |
| 75 | 사립                 | 서해대학                               |           0   |
| 76 | 사립                 | 한국폴리텍 VII 대학 진주캠퍼스         |           0   |
| 77 | 사립                 | 동우대학                               |           0   |
| 78 | 사립                 | 한국폴리텍 VII 대학 동부산캠퍼스       |           0   |
| 79 | 사립                 | 경동대학교                             |           0   |
| 80 | 사립                 | 한국산업기술대학교(산업대)             |           0   |
| 81 | 사립                 | 남서울대학교(산업대)                   |           0   |
| 82 | 사립                 | 대구외국어대학교                       |           0   |
| 83 | 사립                 | 광주가톨릭대학교                       |           0   |
| 84 | 사립                 | 경운대학교(산업대)                     |           0   |
| 85 | 사립                 | 우송대학교(산업대)                     |           0   |
| 86 | 국립대법인           | 인천전문대학                           |           0   |
| 87 | 특별법국립           | 한국농수산대학교                       |           0   |
| 88 | 특별법법인           | 광주과학기술원                         |        2060   |
+----+----------------------+----------------------------------------+---------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
WITH avg_grad_by_school_type AS (
  SELECT school_type, AVG(undergrad_graduates_2023) AS avg_graduates
  FROM university
  GROUP BY school_type
)
SELECT school_type, avg_graduates
FROM avg_grad_by_school_type
WHERE avg_graduates > 10
ORDER BY avg_graduates DESC;
"""

print("학교종류별 졸업생 수가 10000명이 넘어가는 학교의 졸업생 수의 평균을 계산한 후, 그 평균을 내림차순으로 작성:\n")

sql_print(sql)

학교종류별 졸업생 수가 10000명이 넘어가는 학교의 졸업생 수의 평균을 계산한 후, 그 평균을 내림차순으로 작성:

+----+---------------+-----------------+
|    | school_type   |   avg_graduates |
|----+---------------+-----------------|
|  0 | 대학          |        1448.19  |
|  1 | 전문대학      |         875.138 |
+----+---------------+-----------------+

### 4. GROUP BY, HAVING 절을 사용한 구문

주어진 university 테이블에 GROUP BY, HAVING 절을 사용한 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT region_name, MIN(students_per_faculty_2023) AS min_faculty_student_ratio
FROM university
WHERE freshman_enrollment_rate_2023 <= 60
GROUP BY region_name
HAVING MIN(students_per_faculty_2023) > 15;
"""

print("지역별로 신입생수용률이 60% 이하인 학교들 중, 전임교원 1인당 학생 수가 15이상인 학교들의 최솟값 출력:\n")

sql_print(sql)

지역별로 신입생수용률이 60% 이하인 학교들 중, 전임교원 1인당 학생 수가 15이상인 학교들의 최솟값 출력:

+----+---------------+-----------------------------+
|    | region_name   |   min_faculty_student_ratio |
|----+---------------+-----------------------------|
|  0 | 세종          |                       26.82 |
|  1 | 충북          |                       24.36 |
+----+---------------+-----------------------------+

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
SELECT school_type, AVG(education_cost_per_student_2023) AS avg_tuition
FROM university
GROUP BY school_type
HAVING AVG(education_cost_per_student_2023) >= 2000
ORDER BY avg_tuition DESC;
"""

print("학교 유형별로 학생 1인당 교육비의 평균이 2백만원 이상인 학교들의 교육비를 내림차순으로 구하기:\n")

sql_print(sql)

학교 유형별로 학생 1인당 교육비의 평균이 2백만원 이상인 학교들의 교육비를 내림차순으로 구하기:

+----+---------------+---------------+
|    | school_type   |   avg_tuition |
|----+---------------+---------------|
|  0 | 전문대학      |       17867.9 |
|  1 | 대학          |       16304.5 |
+----+---------------+---------------+

### 5. 보너스 과제

주어진 university 테이블에 WHERE, ORDER BY, GROUP BY, HAVING 절 이외에  복잡한 기능을 수행하는 구문 2개를 자유롭게 만들고 결과를 아래에 출력하시오. (각 10점, 총 20점)

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
  SELECT university_name, annual_tuition_2024, NTILE(5) OVER (ORDER BY annual_tuition_2024 Desc) AS tuition_bucket_ntile
  FROM university
  WHERE establishment_type = '사립';
"""

print("설립유형이 사립인 학교 중에서 연평균 등록금을 5개의 버킷으로 나눠 작성:\n")

sql_print(sql)

설립유형이 사립인 학교 중에서 연평균 등록금을 5개의 버킷으로 나눠 작성:

+-----+----------------------------------------+-----------------------+------------------------+
|     | university_name                        |   annual_tuition_2024 |   tuition_bucket_ntile |
|-----+----------------------------------------+-----------------------+------------------------|
|   0 | 을지대학교                             |               10414   |                      1 |
|   1 | 가톨릭대학교                           |                9297.7 |                      1 |
|   2 | 추계예술대학교                         |                9238.7 |                      1 |
|   3 | 연세대학교                             |                9194.6 |                      1 |
|   4 | 신한대학교                             |                9189.1 |                      1 |
|   5 | 명지대학교                             |                9159.2 |                      1 |
|   6 | 한국공학대학교                         |                9034.6 |                      1 |
|   7 | 경동대학교                             |                8932.7 |                      1 |
|   8 | 신한대학교                             |                8747.6 |                      1 |
|   9 | 이화여자대학교                         |                8745.9 |                      1 |
|  10 | 중앙대학교                             |                8741.5 |                      1 |
|  11 | 예원예술대학교                         |                8638.1 |                      1 |
|  12 | 연세대학교(미래)                       |                8565.6 |                      1 |
|  13 | 한양대학교                             |                8564.3 |                      1 |
|  14 | 한양대학교(ERICA)                      |                8533.2 |                      1 |
|  15 | 한국항공대학교                         |                8510   |                      1 |
|  16 | 홍익대학교                             |                8500.9 |                      1 |
|  17 | 고려대학교(세종)                       |                8489.5 |                      1 |
|  18 | 을지대학교                             |                8460.8 |                      1 |
|  19 | 성균관대학교                           |                8449.5 |                      1 |
|  20 | 예원예술대학교                         |                8427.2 |                      1 |
|  21 | 인천가톨릭대학교                       |                8420.3 |                      1 |
|  22 | 홍익대학교                             |                8400.8 |                      1 |
|  23 | 고려대학교                             |                8347.8 |                      1 |
|  24 | 가천대학교                             |                8342.9 |                      1 |
|  25 | 건국대학교                             |                8322.3 |                      1 |
|  26 | 대구예술대학교                         |                8319.9 |                      1 |
|  27 | 아주대학교                             |                8317   |                      1 |
|  28 | 안양대학교                             |                8283.9 |                      1 |
|  29 | 서울예술대학교                         |                8254.2 |                      1 |
|  30 | 단국대학교                             |                8219.8 |                      1 |
|  31 | 을지대학교                             |                8197.6 |                      1 |
|  32 | 경동대학교                             |                8173.9 |                      1 |
|  33 | 한세대학교                             |                8153.7 |                      1 |
|  34 | 상명대학교                             |                8149.6 |                      1 |
|  35 | 숙명여자대학교                         |                8146.1 |                      1 |
|  36 | 건국대학교(글로컬)                     |                8106.5 |                      1 |
|  37 | 단국대학교                             |                8079.9 |                      1 |
|  38 | 동국대학교                             |                8043   |                      1 |
|  39 | 서강대학교                             |                8008.4 |                      1 |
|  40 | 경희대학교                             |                7996.1 |                      1 |
|  41 | 숭실대학교                             |                7993   |                      1 |
|  42 | 서경대학교                             |                7988   |                      1 |
|  43 | 국민대학교                             |                7980.5 |                      1 |
|  44 | 중앙대학교                             |                7973.4 |                      1 |
|  45 | 성신여자대학교                         |                7972.7 |                      1 |
|  46 | 한서대학교                             |                7970.7 |                      1 |
|  47 | 세종대학교                             |                7964.4 |                      1 |
|  48 | 남서울대학교                           |                7942.9 |                      1 |
|  49 | 백석대학교                             |                7938.3 |                      1 |
|  50 | 동국대학교(WISE)                       |                7937   |                      1 |
|  51 | 한국골프대학교                         |                7930   |                      1 |
|  52 | 광운대학교                             |                7901.9 |                      1 |
|  53 | 삼육대학교                             |                7880.6 |                      1 |
|  54 | 칼빈대학교                             |                7877.1 |                      1 |
|  55 | 순천향대학교                           |                7875.7 |                      1 |
|  56 | 상명대학교                             |                7781.7 |                      1 |
|  57 | 한성대학교                             |                7781.6 |                      1 |
|  58 | 인하대학교                             |                7781.3 |                      1 |
|  59 | 호서대학교                             |                7759.5 |                      1 |
|  60 | 용인대학교                             |                7751.3 |                      1 |
|  61 | 경운대학교                             |                7714.1 |                      1 |
|  62 | 계원예술대학교                         |                7713.1 |                      1 |
|  63 | 계명대학교                             |                7673.7 |                      1 |
|  64 | 청주대학교                             |                7657.5 |                      1 |
|  65 | 안양대학교                             |                7631.2 |                      1 |
|  66 | 대진대학교                             |                7614.8 |                      1 |
|  67 | 서울여자대학교                         |                7613.2 |                      1 |
|  68 | 선문대학교                             |                7608.1 |                      1 |
|  69 | 평택대학교                             |                7578.8 |                      1 |
|  70 | 나사렛대학교                           |                7560.4 |                      1 |
|  71 | 강남대학교                             |                7560.3 |                      1 |
|  72 | 수원대학교                             |                7558.1 |                      1 |
|  73 | 극동대학교                             |                7555.1 |                      1 |
|  74 | 한림대학교                             |                7553.8 |                      1 |
|  75 | 서울기독대학교                         |                7548.3 |                      1 |
|  76 | 백제예술대학교                         |                7544.1 |                      2 |
|  77 | 상지대학교                             |                7539   |                      2 |
|  78 | 강서대학교                             |                7513.1 |                      2 |
|  79 | 원광대학교                             |                7500.6 |                      2 |
|  80 | 세한대학교                             |                7490.4 |                      2 |
|  81 | 협성대학교                             |                7489.8 |                      2 |
|  82 | 동덕여자대학교                         |                7485.2 |                      2 |
|  83 | 가톨릭꽃동네대학교                     |                7465.4 |                      2 |
|  84 | 조선대학교                             |                7463.1 |                      2 |
|  85 | 영남대학교                             |                7460.3 |                      2 |
|  86 | 중원대학교                             |                7434   |                      2 |
|  87 | 청강문화산업대학교                     |                7432   |                      2 |
|  88 | 동아방송예술대학교                     |                7431.5 |                      2 |
|  89 | 대전대학교                             |                7421.9 |                      2 |
|  90 | 서울장신대학교                         |                7400.4 |                      2 |
|  91 | 경기대학교                             |                7393.1 |                      2 |
|  92 | 경일대학교                             |                7367.9 |                      2 |
|  93 | 울산대학교                             |                7346.1 |                      2 |
|  94 | 신경주대학교                           |                7344.4 |                      2 |
|  95 | 위덕대학교                             |                7334.5 |                      2 |
|  96 | 청운대학교                             |                7332.6 |                      2 |
|  97 | 목원대학교                             |                7331   |                      2 |
|  98 | 총신대학교                             |                7330.8 |                      2 |
|  99 | 배재대학교                             |                7330.6 |                      2 |
| 100 | 동양대학교                             |                7311.5 |                      2 |
| 101 | 화성의과학대학교                       |                7308.6 |                      2 |
| 102 | 인제대학교                             |                7302.1 |                      2 |
| 103 | 대구가톨릭대학교                       |                7277.3 |                      2 |
| 104 | 한남대학교                             |                7266.4 |                      2 |
| 105 | 한신대학교                             |                7260.1 |                      2 |
| 106 | 대구한의대학교                         |                7252.7 |                      2 |
| 107 | 성결대학교                             |                7251.3 |                      2 |
| 108 | 중부대학교                             |                7245.4 |                      2 |
| 109 | 서울신학대학교                         |                7241.2 |                      2 |
| 110 | 우송대학교                             |                7240.1 |                      2 |
| 111 | 유원대학교                             |                7235.3 |                      2 |
| 112 | 건양대학교                             |                7215.9 |                      2 |
| 113 | 덕성여자대학교                         |                7215.1 |                      2 |
| 114 | 한국외국어대학교                       |                7207   |                      2 |
| 115 | 가톨릭관동대학교                       |                7206.1 |                      2 |
| 116 | 한라대학교                             |                7184.7 |                      2 |
| 117 | 차의과학대학교                         |                7178.2 |                      2 |
| 118 | 김천대학교                             |                7140.2 |                      2 |
| 119 | 경기대학교                             |                7137   |                      2 |
| 120 | 한동대학교                             |                7120   |                      2 |
| 121 | 한국성서대학교                         |                7111.1 |                      2 |
| 122 | 가톨릭대학교                           |                7094.2 |                      2 |
| 123 | 성공회대학교                           |                7089.4 |                      2 |
| 124 | 동아대학교                             |                7082.1 |                      2 |
| 125 | 서울한영대학교                         |                7064.5 |                      2 |
| 126 | 용인예술과학대학교                     |                7058.5 |                      2 |
| 127 | 동명대학교                             |                7045.4 |                      2 |
| 128 | 전주대학교                             |                7029.2 |                      2 |
| 129 | 여주대학교                             |                6998.3 |                      2 |
| 130 | 명지대학교                             |                6994.4 |                      2 |
| 131 | 동의대학교                             |                6976.7 |                      2 |
| 132 | 웅지세무대학교                         |                6960   |                      2 |
| 133 | 서원대학교                             |                6958.5 |                      2 |
| 134 | 장로회신학대학교                       |                6958.3 |                      2 |
| 135 | 신안산대학교                           |                6948.8 |                      2 |
| 136 | 경성대학교                             |                6947.2 |                      2 |
| 137 | 대구대학교                             |                6944.6 |                      2 |
| 138 | 호남신학대학교                         |                6941   |                      2 |
| 139 | 세명대학교                             |                6939.8 |                      2 |
| 140 | 한국승강기대학교                       |                6933.1 |                      2 |
| 141 | 동서대학교                             |                6932.8 |                      2 |
| 142 | 호원대학교                             |                6929.8 |                      2 |
| 143 | 백석문화대학교                         |                6908.6 |                      2 |
| 144 | 우석대학교                             |                6908.3 |                      2 |
| 145 | 국제대학교                             |                6904.6 |                      2 |
| 146 | 아신대학교                             |                6900   |                      2 |
| 147 | 예수대학교                             |                6899.1 |                      2 |
| 148 | 영산대학교(양산)                       |                6897.4 |                      2 |
| 149 | 동원대학교                             |                6887.9 |                      2 |
| 150 | 부산가톨릭대학교                       |                6869.9 |                      2 |
| 151 | 가야대학교(김해)                       |                6867.3 |                      2 |
| 152 | 동서울대학교                           |                6853.9 |                      3 |
| 153 | 영산대학교(해운대)                     |                6836.9 |                      3 |
| 154 | 오산대학교                             |                6835.6 |                      3 |
| 155 | 김포대학교                             |                6799.6 |                      3 |
| 156 | 수원여자대학교                         |                6784.9 |                      3 |
| 157 | 대림대학교                             |                6776.4 |                      3 |
| 158 | 인하공업전문대학                       |                6759.2 |                      3 |
| 159 | 한일장신대학교                         |                6740.5 |                      3 |
| 160 | 경동대학교                             |                6729.1 |                      3 |
| 161 | 신라대학교                             |                6706.5 |                      3 |
| 162 | 동신대학교                             |                6699.7 |                      3 |
| 163 | 아주자동차대학교                       |                6691.8 |                      3 |
| 164 | 부천대학교                             |                6689.2 |                      3 |
| 165 | 신구대학교                             |                6680.5 |                      3 |
| 166 | 고신대학교                             |                6675   |                      3 |
| 167 | 동양미래대학교                         |                6674   |                      3 |
| 168 | 초당대학교                             |                6666.5 |                      3 |
| 169 | 인덕대학교                             |                6655.5 |                      3 |
| 170 | 감리교신학대학교                       |                6640.5 |                      3 |
| 171 | 경복대학교                             |                6639   |                      3 |
| 172 | 재능대학교                             |                6631.8 |                      3 |
| 173 | 금강대학교                             |                6598   |                      3 |
| 174 | 송원대학교                             |                6596.3 |                      3 |
| 175 | 광주대학교                             |                6585.7 |                      3 |
| 176 | 명지전문대학                           |                6583   |                      3 |
| 177 | 호남대학교                             |                6581.7 |                      3 |
| 178 | 동남보건대학교                         |                6563.7 |                      3 |
| 179 | 남부대학교                             |                6557   |                      3 |
| 180 | 신성대학교                             |                6541.9 |                      3 |
| 181 | 목포가톨릭대학교                       |                6539   |                      3 |
| 182 | 경남대학교                             |                6527.3 |                      3 |
| 183 | 장안대학교                             |                6524.8 |                      3 |
| 184 | 경민대학교                             |                6519.8 |                      3 |
| 185 | 연성대학교                             |                6518.6 |                      3 |
| 186 | 경인여자대학교                         |                6501.1 |                      3 |
| 187 | 두원공과대학교                         |                6473.2 |                      3 |
| 188 | 영남신학대학교                         |                6464   |                      3 |
| 189 | 부산외국어대학교                       |                6434.6 |                      3 |
| 190 | 창신대학교                             |                6428.3 |                      3 |
| 191 | 경기과학기술대학교                     |                6427.3 |                      3 |
| 192 | 건양대학교                             |                6412.4 |                      3 |
| 193 | 서울여자간호대학교                     |                6410.4 |                      3 |
| 194 | 서일대학교                             |                6386.9 |                      3 |
| 195 | 대신대학교                             |                6383   |                      3 |
| 196 | 대경대학교                             |                6361.9 |                      3 |
| 197 | 한국영상대학교                         |                6359   |                      3 |
| 198 | 군산간호대학교                         |                6353.6 |                      3 |
| 199 | 루터대학교                             |                6334.5 |                      3 |
| 200 | 배화여자대학교                         |                6331.8 |                      3 |
| 201 | 동의과학대학교                         |                6322.1 |                      3 |
| 202 | 한국관광대학교                         |                6316.7 |                      3 |
| 203 | 광주여자대학교                         |                6314.1 |                      3 |
| 204 | 전주기전대학                           |                6300.4 |                      3 |
| 205 | 서정대학교                             |                6300.4 |                      3 |
| 206 | 연암대학교                             |                6283.9 |                      3 |
| 207 | 대구보건대학교                         |                6259.6 |                      3 |
| 208 | 대원대학교                             |                6253.4 |                      3 |
| 209 | 원광보건대학교                         |                6233.9 |                      3 |
| 210 | 진주보건대학교                         |                6233.3 |                      3 |
| 211 | 전주비전대학교                         |                6232.8 |                      3 |
| 212 | 영남이공대학교                         |                6223.3 |                      3 |

In [ ]:
# PostgreSQL에 연결
conn = psycopg2.connect(
    dbname="mydb",
    user="postgres",
    password="password",
    host="localhost"
)
cur = conn.cursor()

sql = """
작성한 SQL문을 여기에 복사 붙여넣기 해주세요.
"""

print("뭘 했는지 입력해주세요:\n")

sql_print(sql)